body{
    background-color: #474747;
    color:white;
}
.position{
    color:#68D9D9
}
.position:hover{
    cursor:pointer
}
.card{
    margin-top:10px
}
a{
    text-decoration: none;
    color:white;
}